Thermal benchmark/flows (1).json
[{"id":"fef0a955852b94ae","type":"tab","label":"Thermal Stress Test","disabled":false,"info":"A simple thermal benchmark flow that uses stress to put the strain on the CPU\n\nThe number of cores is hardcoded (easy to change in stress param function), the duration, graphs and menus can be accessed in dashboard. \n\nNode: record switch must be enabled to store values in db.\n\n\n\nRequires Grafana and InfluxDB\n\nand the following nodes:\ndashboard, cpu, influx","env":[]},{"id":"43620ddaf926cc4f","type":"group","z":"fef0a955852b94ae","name":"User Interface","style":{"stroke":"#0070c0","fill":"#bfdbef","label":true,"color":"#000000","label-position":"n"},"nodes":["7f5a35133dadf207","b9f1d00e0ac02162","a41fd132a61812cb","713373716053606f","42e4771e72f3e43e","81c8a5cbb402964c","c60fa67b0ddc858b","b9e32337bbfa451d","66a4bc8f5463132a","c28dee7114e736b7","47c766502ed7cf1f","9b48bc7c9edb32bb","8fbe6b3261628767","fa897b7890f35221","1a76d90ec5fe784e","fdf34768a1dc8f9e","85cfeed1a2c2b402","6c2df26d51a5827e","34bd3ed416601073","6be55e9a256d46d4","810ee9a9ee5f3e46","d92837c5d2cb8c4e","f881f5ae7aa07656","31b7fa4e92945923","7bbfb75934c4b49a","22f7229132695ad3","231cd2f93885d96d","37efd1f273520658"],"x":74,"y":479,"w":1192,"h":502},{"id":"28e75deb7ce8adc3","type":"group","z":"fef0a955852b94ae","name":"Stress Test","style":{"stroke":"#ff0000","fill":"#ffefbf","label":true,"label-position":"n","color":"#000000"},"nodes":["3445281d158cb3b7","74f123c76227fdb0","c91397f11a97cb69","d5f394fcc1873803","89dd6e0b80b1ef3d","96ee4b97da866e3e","676f96b22b29e4a8","6b6c26e6486c1d8d","a6398fb85307f84b","707b3c3678151ba8"],"x":74,"y":259,"w":1162,"h":162},{"id":"9eb06227d72c2479","type":"group","z":"fef0a955852b94ae","name":"Influx and CPU info","style":{"stroke":"#92d04f","fill":"#e3f3d3","label":true,"label-position":"n","color":"#000000"},"nodes":["f9434d13544fc13e","0f83279b2998149f","e017a59617390bf5","43375e077038ae33","43f7a789d214d7bd","2b590a1023c6fedd","e5bb6bf378a535f3"],"x":54,"y":59,"w":1192,"h":142},{"id":"f9434d13544fc13e","type":"inject","z":"fef0a955852b94ae","g":"9eb06227d72c2479","name":"every sec","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":170,"y":140,"wires":[["e5bb6bf378a535f3"]]},{"id":"0f83279b2998149f","type":"cpu","z":"fef0a955852b94ae","g":"9eb06227d72c2479","name":"","msgCore":false,"msgOverall":false,"msgArray":true,"msgTemp":true,"x":470,"y":120,"wires":[["e017a59617390bf5"]]},{"id":"e017a59617390bf5","type":"switch","z":"fef0a955852b94ae","g":"9eb06227d72c2479","name":"","property":"payload","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":120,"wires":[["43375e077038ae33"],["43f7a789d214d7bd"]]},{"id":"43375e077038ae33","type":"function","z":"fef0a955852b94ae","g":"9eb06227d72c2479","name":"Format db","func":"var temp = msg.payload\nvar tag = null;\n\nvar test = flow.get(\"benchmark\");\nif(test === true){\n    tag = \"benchmark\";\n}\nif(test === false){\n    tag = \"idle\";\n}\n\n\nmsg.measurement =  \"CPU temperature\";        \nmsg.payload = [{temp: temp}, {mode: tag}];\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":100,"wires":[["2b590a1023c6fedd"]]},{"id":"43f7a789d214d7bd","type":"function","z":"fef0a955852b94ae","g":"9eb06227d72c2479","name":"Format db","func":"var use1 = msg.payload[0].speed;\nvar use2 = msg.payload[1].speed;\nvar use3 = msg.payload[2].speed;\nvar use4 = msg.payload[3].speed;\n\nvar tag = null;\n\nvar test = flow.get(\"benchmark\");\nif(test === true){\n    tag = \"benchmark\";\n}\nif(test === false){\n    tag = \"idle\";\n}\n\n\nmsg.measurement =  \"Clock Speed\";        \nmsg.payload = [ {core1: use1,\n                 core2: use2,\n                 core3: use3,\n                 core4: use4},\n                 \n                 {mode: tag} \n                 ];\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\n\nflow.set(\"benchmark\", false);\nflow.set(\"record\", false);\nflow.set(\"timeout\", 10);\nflow.set(\"start\", 10);","finalize":"","libs":[],"x":810,"y":160,"wires":[["2b590a1023c6fedd"]]},{"id":"2b590a1023c6fedd","type":"influxdb out","z":"fef0a955852b94ae","g":"9eb06227d72c2479","influxdb":"b13a3d597e5b202d","name":"","measurement":"","precision":"","retentionPolicy":"","database":"influxdb","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1130,"y":140,"wires":[]},{"id":"3445281d158cb3b7","type":"change","z":"fef0a955852b94ae","g":"28e75deb7ce8adc3","name":"start bench","rules":[{"t":"set","p":"benchmark","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":340,"wires":[["676f96b22b29e4a8","a6398fb85307f84b"]]},{"id":"74f123c76227fdb0","type":"change","z":"fef0a955852b94ae","g":"28e75deb7ce8adc3","name":"stop bench","rules":[{"t":"set","p":"benchmark","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":360,"wires":[["6b6c26e6486c1d8d"]]},{"id":"c91397f11a97cb69","type":"exec","z":"fef0a955852b94ae","g":"28e75deb7ce8adc3","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":610,"y":340,"wires":[["96ee4b97da866e3e"],[],["74f123c76227fdb0"]]},{"id":"d5f394fcc1873803","type":"comment","z":"fef0a955852b94ae","g":"28e75deb7ce8adc3","name":"Install stress","info":"sudo apt-get install stress","x":630,"y":300,"wires":[]},{"id":"89dd6e0b80b1ef3d","type":"debug","z":"fef0a955852b94ae","g":"28e75deb7ce8adc3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":300,"wires":[]},{"id":"96ee4b97da866e3e","type":"change","z":"fef0a955852b94ae","g":"28e75deb7ce8adc3","name":"debug","rules":[{"t":"set","p":"payload","pt":"msg","to":"Benchmark ended","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":300,"wires":[["89dd6e0b80b1ef3d"]]},{"id":"7f5a35133dadf207","type":"ui_template","z":"fef0a955852b94ae","g":"43620ddaf926cc4f","group":"231b1e6901c9958d","name":"","order":18,"width":16,"height":6,"format":"<html>\n<iframe id=\"Grafana1\" width=\"700px\" height=\"400px\" style = \"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n    <script>\n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            var x = document.getElementById('Grafana1');\n            x.setAttribute('src', msg.payload); \n            });\n    })(scope);\n    </script>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1180,"y":780,"wires":[[]]},{"id":"b9f1d00e0ac02162","type":"ui_button","z":"fef0a955852b94ae","g":"43620ddaf926cc4f","name":"","group":"231b1e6901c9958d","order":16,"width":8,"height":1,"passthru":false,"label":"{{msg.label}}","tooltip":"","color":"white","bgcolor":"{{background}}","className":"","icon":"","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":470,"y":620,"wires":[["47c766502ed7cf1f","37efd1f273520658"]]},{"id":"a41fd132a61812cb","type":"change","z":"fef0a955852b94ae","g":"43620ddaf926cc4f","name":"UI text","rules":[{"t":"set","p":"payload","pt":"msg","to":"100","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":880,"wires":[["fdf34768a1dc8f9e"]]},{"id":"713373716053606f","type":"ui_switch","z":"fef0a955852b94ae","g":"43620ddaf926cc4f","name":"","label":"Record","tooltip":"","group":"231b1e6901c9958d","order":1,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":440,"y":700,"wires":[["c60fa67b0ddc858b","47c766502ed7cf1f"]]},{"id":"e5bb6bf378a535f3","type":"switch","z":"fef0a955852b94ae","g":"9eb06227d72c2479","name":"","property":"record","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":140,"wires":[["0f83279b2998149f"],[]]},{"id":"42e4771e72f3e43e","type":"ui_slider","z":"fef0a955852b94ae","g":"43620ddaf926cc4f","name":"","label":"Time in min","tooltip":"","group":"231b1e6901c9958d","order":14,"width":16,"height":1,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"className":"","x":450,"y":660,"wires":[["81c8a5cbb402964c","6be55e9a256d46d4"]]},{"id":"81c8a5cbb402964c","type":"change","z":"fef0a955852b94ae","g":"43620ddaf926cc4f","name":"","rules":[{"t":"set","p":"timeout","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":660,"wires":[["c28dee7114e736b7"]]},{"id":"c60fa67b0ddc858b","type":"change","z":"fef0a955852b94ae","g":"43620ddaf926cc4f","name":"","rules":[{"t":"set","p":"record","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":700,"wires":[[]]},{"id":"676f96b22b29e4a8","type":"function","z":"fef0a955852b94ae","g":"28e75deb7ce8adc3","name":"stress params","func":"var timeout = flow.get(\"timeout\");\nmsg.payload = \"sudo stress --cpu 4 --timeout \" + (timeout *60);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":340,"wires":[["c91397f11a97cb69"]]},{"id":"b9e32337bbfa451d","type":"inject","z":"fef0a955852b94ae","g":"43620ddaf926cc4f","name":"Once","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":190,"y":660,"wires":[["42e4771e72f3e43e","6be55e9a256d46d4"]]},{"id":"6b6c26e6486c1d8d","type":"link out","z":"fef0a955852b94ae","g":"28e75deb7ce8adc3","name":"","mode":"link","links":["6ad89a02f81c3c94","58172336ac483565","f881f5ae7aa07656","7bbfb75934c4b49a","231cd2f93885d96d"],"x":1195,"y":360,"wires":[]},{"id":"a6398fb85307f84b","type":"link out","z":"fef0a955852b94ae","g":"28e75deb7ce8adc3","name":"","mode":"link","links":["27ab5dd75e75d82e","31b7fa4e92945923"],"x":335,"y":380,"wires":[]},{"id":"66a4bc8f5463132a","type":"comment","z":"fef0a955852b94ae","g":"43620ddaf926cc4f","name":"add grafana panel URL","info":"ie: \nhttp://10.0.0.13:3000/d-solo/loZm3Fggk/stress-test?from=1640965598458&to=1640987198459&orgId=1&panelId=2","x":1000,"y":780,"wires":[]},{"id":"c28dee7114e736b7","type":"function","z":"fef0a955852b94ae","g":"43620ddaf926cc4f","name":"","func":"var val = msg.payload;\nmsg.label = \"Start Benchmark \"+val+\"min\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":660,"wires":[["b9f1d00e0ac02162"]]},{"id":"8fbe6b3261628767","type":"ui_button","z":"fef0a955852b94ae","g":"43620ddaf926cc4f","name":"","group":"231b1e6901c9958d","order":19,"width":8,"height":1,"passthru":false,"label":"Show benchmark","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":850,"y":740,"wires":[["9b48bc7c9edb32bb"]]},{"id":"9b48bc7c9edb32bb","type":"function","z":"fef0a955852b94ae","g":"43620ddaf926cc4f","name":"","func":"\nvar start = flow.get(\"start\"); \nvar timeout = flow.get(\"timeout\");\n\n//starts 2 min before\nvar startoffset =  start - 120000;\n\n//ends 2 min after timeout\nvar stopoffset = start + (timeout * 60 * 1000) + 480000;\n\nmsg.payload = \"http://10.0.0.13:3000/d-solo/loZm3Fggk/stress-test?from=\"+startoffset+\"&to=\"+stopoffset+\"&orgId=1&panelId=2\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":740,"wires":[["7f5a35133dadf207"]]},{"id":"47c766502ed7cf1f","type":"change","z":"fef0a955852b94ae","g":"43620ddaf926cc4f","name":"","rules":[{"t":"set","p":"start","pt":"flow","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":620,"wires":[[]]},{"id":"fa897b7890f35221","type":"ui_button","z":"fef0a955852b94ae","g":"43620ddaf926cc4f","name":"","group":"231b1e6901c9958d","order":20,"width":8,"height":1,"passthru":false,"label":"Show current","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":870,"y":820,"wires":[["1a76d90ec5fe784e"]]},{"id":"1a76d90ec5fe784e","type":"function","z":"fef0a955852b94ae","g":"43620ddaf926cc4f","name":"","func":"var now = new Date();\nvar start = flow.get(\"start\"); \n\n\n//starts 2 min before\nvar startoffset =  start - 120000;\n\n//ends now\nvar stopoffset = now;\n\nmsg.payload = \"http://10.0.0.13:3000/d-solo/loZm3Fggk/stress-test?from=\"+startoffset+\"&to=\"+stopoffset+\"&orgId=1&panelId=2\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":820,"wires":[["7f5a35133dadf207"]]},{"id":"fdf34768a1dc8f9e","type":"ui_gauge","z":"fef0a955852b94ae","g":"43620ddaf926cc4f","name":"","group":"231b1e6901c9958d","order":4,"width":6,"height":5,"gtype":"wave","title":"Benchmark progress","label":"%","format":"{{payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1140,"y":900,"wires":[]},{"id":"85cfeed1a2c2b402","type":"function","z":"fef0a955852b94ae","g":"43620ddaf926cc4f","name":"","func":"var timeout = flow.get(\"timeout\");\nvar start = new Date();\nvar end = start + (timeout*60*1000);\nvar bench = flow.get(\"benchmark\");\n\n\nif(bench == true){\n    msg.enabled = true;\n    var progress= context.get(\"progress\");\n    var progress_now = progress + 100/(timeout*60);\n    context.set (\"progress\", progress_now);\n    if (progress_now >= 100){progress_now = 100;}\n    msg.payload = Math.round(progress_now);\n}\nelse{\n    msg.payload = 0;\n    context.set(\"progress\", 0);\n    msg.enabled = false;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"progress\", 0);","finalize":"","libs":[],"x":840,"y":920,"wires":[["fdf34768a1dc8f9e"]]},{"id":"6c2df26d51a5827e","type":"inject","z":"fef0a955852b94ae","g":"43620ddaf926cc4f","name":"every sec","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":190,"y":920,"wires":[["34bd3ed416601073"]]},{"id":"34bd3ed416601073","type":"switch","z":"fef0a955852b94ae","g":"43620ddaf926cc4f","name":"Bench in progress?","property":"benchmark","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":920,"wires":[["85cfeed1a2c2b402"],[]]},{"id":"6be55e9a256d46d4","type":"change","z":"fef0a955852b94ae","g":"43620ddaf926cc4f","name":"UI text","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":840,"wires":[["fdf34768a1dc8f9e"]]},{"id":"810ee9a9ee5f3e46","type":"change","z":"fef0a955852b94ae","g":"43620ddaf926cc4f","name":"","rules":[{"t":"set","p":"background","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"In progress","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":520,"wires":[["b9f1d00e0ac02162"]]},{"id":"31b7fa4e92945923","type":"link in","z":"fef0a955852b94ae","g":"43620ddaf926cc4f","name":"","links":["a6398fb85307f84b"],"x":115,"y":520,"wires":[["810ee9a9ee5f3e46"]]},{"id":"d92837c5d2cb8c4e","type":"change","z":"fef0a955852b94ae","g":"43620ddaf926cc4f","name":"","rules":[{"t":"set","p":"background","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"label","pt":"msg","to":"Set benchmark duration","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":560,"wires":[["b9f1d00e0ac02162"]]},{"id":"f881f5ae7aa07656","type":"link in","z":"fef0a955852b94ae","g":"43620ddaf926cc4f","name":"","links":["6b6c26e6486c1d8d"],"x":115,"y":560,"wires":[["d92837c5d2cb8c4e"]]},{"id":"7bbfb75934c4b49a","type":"link in","z":"fef0a955852b94ae","g":"43620ddaf926cc4f","name":"","links":["6b6c26e6486c1d8d"],"x":735,"y":940,"wires":[["85cfeed1a2c2b402"]]},{"id":"22f7229132695ad3","type":"delay","z":"fef0a955852b94ae","g":"43620ddaf926cc4f","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":880,"y":700,"wires":[["9b48bc7c9edb32bb"]]},{"id":"231cd2f93885d96d","type":"link in","z":"fef0a955852b94ae","g":"43620ddaf926cc4f","name":"","links":["6b6c26e6486c1d8d"],"x":795,"y":700,"wires":[["22f7229132695ad3"]]},{"id":"707b3c3678151ba8","type":"link in","z":"fef0a955852b94ae","g":"28e75deb7ce8adc3","name":"","links":["37efd1f273520658"],"x":115,"y":340,"wires":[["3445281d158cb3b7"]]},{"id":"37efd1f273520658","type":"link out","z":"fef0a955852b94ae","g":"43620ddaf926cc4f","name":"","mode":"link","links":["707b3c3678151ba8"],"x":555,"y":580,"wires":[]},{"id":"77b36daf78736e37","type":"ui_spacer","z":"fef0a955852b94ae","name":"spacer","group":"231b1e6901c9958d","order":2,"width":13,"height":1},{"id":"bb045a4364f88f7b","type":"ui_spacer","z":"fef0a955852b94ae","name":"spacer","group":"231b1e6901c9958d","order":3,"width":5,"height":1},{"id":"3929e76d5ea6ceb5","type":"ui_spacer","z":"fef0a955852b94ae","name":"spacer","group":"231b1e6901c9958d","order":5,"width":5,"height":1},{"id":"efe2036a765e6252","type":"ui_spacer","z":"fef0a955852b94ae","name":"spacer","group":"231b1e6901c9958d","order":6,"width":5,"height":1},{"id":"6454a8ef27b74fb5","type":"ui_spacer","z":"fef0a955852b94ae","name":"spacer","group":"231b1e6901c9958d","order":7,"width":5,"height":1},{"id":"11124f445340dc1b","type":"ui_spacer","z":"fef0a955852b94ae","name":"spacer","group":"231b1e6901c9958d","order":8,"width":5,"height":1},{"id":"06aab908643b0bfa","type":"ui_spacer","z":"fef0a955852b94ae","name":"spacer","group":"231b1e6901c9958d","order":9,"width":5,"height":1},{"id":"cd0c2638c73ca710","type":"ui_spacer","z":"fef0a955852b94ae","name":"spacer","group":"231b1e6901c9958d","order":10,"width":5,"height":1},{"id":"ac1e29b26531040a","type":"ui_spacer","z":"fef0a955852b94ae","name":"spacer","group":"231b1e6901c9958d","order":11,"width":5,"height":1},{"id":"449f505b1a934984","type":"ui_spacer","z":"fef0a955852b94ae","name":"spacer","group":"231b1e6901c9958d","order":12,"width":5,"height":1},{"id":"3b1dc781866300a9","type":"ui_spacer","z":"fef0a955852b94ae","name":"spacer","group":"231b1e6901c9958d","order":13,"width":5,"height":1},{"id":"a362e51ba370e06f","type":"ui_spacer","z":"fef0a955852b94ae","name":"spacer","group":"231b1e6901c9958d","order":15,"width":4,"height":1},{"id":"fb432ab7551d8629","type":"ui_spacer","z":"fef0a955852b94ae","name":"spacer","group":"231b1e6901c9958d","order":17,"width":4,"height":1},{"id":"b13a3d597e5b202d","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"influxdb","name":"InfluxDB","usetls":false,"tls":"","influxdbVersion":"1.8-flux","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"231b1e6901c9958d","type":"ui_group","name":"Thermal Benchmark","tab":"e5f6f227dc3c7e95","order":1,"disp":true,"width":16,"collapse":false,"className":""},{"id":"e5f6f227dc3c7e95","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]