TRV Auto-Calibration/flows.json
[{"id":"f62fcbb8c5479605","type":"tab","label":"TRV Auto Calibration","disabled":false,"info":"![enter image description here](https://notenoughtech.com/wp-content/uploads/2021/12/thumbnail-copy-2.jpg)\n\nTRVs are miss-reporting temperature values even with carefull calibration. This script fixes that by calibrating the offset against a 3rd party temperature sensor.  \n\n- [Complete instructions](https://notenoughtech.com/home-automation/trv-auto-calibration/) \n\n## Features\n- automatic calibration\n\n- link any temperature senors\n\n\n## Get your hardware:\n\n- Moes ZigBee TRV [Banggood](https://www.banggood.com/custlink/mDGENchc61), [AliExpress,](https://s.click.aliexpress.com/e/_A5PJh4)\n- Temp sensors [Banggood](https://www.banggood.com/custlink/K3GhNWEC4M), [AliExpress,](https://s.click.aliexpress.com/e/_AlwrOW)\n\n\n### Settings\nVisit Settings node to set your lat/long and other parameters. Consider [preserving variables in NodeRED](https://notenoughtech.com/home-automation/preserving-variables-in-nodered/) to keep your data stored after reboot.\n\n#### Feedback\nIf you have any feedback, please use this [GitHub page](https://github.com/notenoughtech/NodeRED-Projects/tree/master/Tracking%20daylight%20in%20NodeRED) to report it\n\n\n## 🔗 Follow my work\n[![Twitter Follow](https://img.shields.io/twitter/follow/notenoughtech?label=%40notenoughtech&logo=twitter&style=for-the-badge)](https://twitter.com/NotEnoughTECH) [![YouTube Channel Subscribers](https://img.shields.io/youtube/channel/subscribers/UC7V__uBIaZotHn_smHJShGQ?label=NotEnoughTech&logo=YouTube&logoColor=red&style=for-the-badge)](https://www.youtube.com/channel/UC7V__uBIaZotHn_smHJShGQ)\n[![Subreddit subscribers](https://img.shields.io/reddit/subreddit-subscribers/not_enough_tech?logo=reddit&logoColor=white&style=for-the-badge)](https://www.reddit.com/r/Not_Enough_Tech/)\n\n## **\nAnd if you feeling like buying me a coffee or supporting me in a more continuous way:\n\n- [Paypal](https://www.paypal.me/notenoughtech), [Ko-Fi](https://ko-fi.com/notenoughtech) & [Patreon](https://www.patreon.com/NotEnoughTECH)\n\n  \nI hope you have enjoyed the project!","env":[]},{"id":"dfdd8967fbf2fc79","type":"group","z":"f62fcbb8c5479605","name":"Calculate offset & update TRV 1","style":{"label":true,"fill":"#addb7b","label-position":"n","color":"#000000"},"nodes":["7528587b727d475c","c8138e15577a295c","08b7991a8ae308e5","abe04743f420b801","3358a4caa0e7cd98"],"env":[],"x":34,"y":239,"w":812,"h":142},{"id":"439a6ea6361e6ee9","type":"group","z":"f62fcbb8c5479605","name":"Get TRV info","style":{"label":true,"stroke":"#ff0000","fill":"#ffefbf","label-position":"n","color":"#000000"},"nodes":["2ad46dfa9e6f8406","c6a2b399c9ef0516","535d22a481952bee","8d18a4a7eeee07ca","0fc25a25df361245","12fb2095c337b68b"],"env":[],"x":34,"y":79,"w":832,"h":122},{"id":"2ad46dfa9e6f8406","type":"mqtt in","z":"f62fcbb8c5479605","g":"439a6ea6361e6ee9","name":"TRV 2","topic":"zigbee2mqtt/0x84fd27fffe8c4bf3","qos":"0","datatype":"json","broker":"8d987c68b143b2a4","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":120,"wires":[["c6a2b399c9ef0516"]]},{"id":"c6a2b399c9ef0516","type":"function","z":"f62fcbb8c5479605","g":"439a6ea6361e6ee9","name":"Update InfluxDB","func":"var temp = msg.payload.local_temperature;\n\n\nmsg.measurement =  \"Moes TRV 2\"; \nmsg.payload = [{\"temp\": temp},    {\"name\": \"Moes TRV 2\"}];\n                \n            \n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":120,"wires":[["0fc25a25df361245"]]},{"id":"535d22a481952bee","type":"mqtt in","z":"f62fcbb8c5479605","g":"439a6ea6361e6ee9","name":"TRV 1","topic":"zigbee2mqtt/0x84fd27fffea67759","qos":"0","datatype":"json","broker":"8d987c68b143b2a4","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":160,"wires":[["12fb2095c337b68b"]]},{"id":"8d18a4a7eeee07ca","type":"function","z":"f62fcbb8c5479605","g":"439a6ea6361e6ee9","name":"Update InfluxDB","func":"var temp = msg.payload.local_temperature;\nvar offset = msg.payload.local_temperature_calibration;\nvar timestamp = new Date();\n\nmsg.measurement =  \"Moes TRV 1\"; \nmsg.payload = [{\"temp\": temp},    {\"name\": \"Moes TRV 1\"}];\n\nflow.set(\"TRV_calibration\", {\"temp\": temp, \"timestamp\": timestamp, \"offset\" :  offset});\n            \n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":160,"wires":[["0fc25a25df361245"]]},{"id":"7528587b727d475c","type":"mqtt out","z":"f62fcbb8c5479605","g":"dfdd8967fbf2fc79","name":"TRV 1","topic":"zigbee2mqtt/0x84fd27fffea67759/set","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8d987c68b143b2a4","x":570,"y":280,"wires":[]},{"id":"0fc25a25df361245","type":"influxdb out","z":"f62fcbb8c5479605","g":"439a6ea6361e6ee9","influxdb":"7a3e659353ddf9fd","name":"","measurement":"","precision":"","retentionPolicy":"","database":"homeautomation","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":750,"y":140,"wires":[]},{"id":"c8138e15577a295c","type":"mqtt in","z":"f62fcbb8c5479605","g":"dfdd8967fbf2fc79","name":"Room Temp sensor (ST TH01)","topic":"zigbee2mqtt/TuYaSTTH01","qos":"0","datatype":"json","broker":"8d987c68b143b2a4","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":340,"wires":[["08b7991a8ae308e5"]]},{"id":"08b7991a8ae308e5","type":"function","z":"f62fcbb8c5479605","g":"dfdd8967fbf2fc79","name":"Calculate offset","func":"var temp = msg.payload.temperature;\nvar calibration = flow.get(\"TRV_calibration\");\nvar timenow = new Date();\nif(temp > calibration.temp + 1 || temp < calibration.temp - 1){\nif(timenow.getTime() - calibration.timestamp.getTime() < 900000){\n    msg.payload = {\"local_temperature_calibration\": Math.round(temp - (calibration.temp - calibration.offset))}\n    flow.set(\"update\", false);\n    return msg;\n}\n}\nmsg.payload = \"not met\" + (timenow.getTime() - calibration.timestamp.getTime());\nreturn msg;\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":340,"wires":[["7528587b727d475c","abe04743f420b801"]]},{"id":"12fb2095c337b68b","type":"switch","z":"f62fcbb8c5479605","g":"439a6ea6361e6ee9","name":"Supress updates","property":"update","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":160,"wires":[["8d18a4a7eeee07ca"]]},{"id":"abe04743f420b801","type":"delay","z":"f62fcbb8c5479605","g":"dfdd8967fbf2fc79","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":580,"y":340,"wires":[["3358a4caa0e7cd98"]]},{"id":"3358a4caa0e7cd98","type":"change","z":"f62fcbb8c5479605","g":"dfdd8967fbf2fc79","name":"End supression","rules":[{"t":"set","p":"update","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":340,"wires":[[]]},{"id":"8d987c68b143b2a4","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7a3e659353ddf9fd","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"homeautomation","name":"My DB","usetls":false,"tls":"","influxdbVersion":"1.8-flux","url":"http://home.local:8086","rejectUnauthorized":true}]