PC Dashboard with Netio/flows.json
[{"id":"ecabcceb.4c773","type":"subflow","name":"2FA","info":"","category":"","in":[{"x":320,"y":240,"wires":[{"id":"1d521588.97a3aa"}]}],"out":[{"x":1040,"y":220,"wires":[{"id":"4bef9d29.854114","port":0}]}],"env":[{"name":"default2fa","type":"bool","value":"false"},{"name":"timer","type":"num","value":"20"},{"name":"ARdevice","type":"str","value":""},{"name":"title","type":"str","value":""},{"name":"text","type":"str","value":""},{"name":"2FApath","type":"str","value":""},{"name":"ID","type":"str","value":""}],"color":"#DDAA99"},{"id":"1d521588.97a3aa","type":"function","z":"ecabcceb.4c773","name":"Set alarm","func":"var x = env.get(\"timer\");\nvar timer = x *1000;\nvar time = new Date();\nvar timeseconds = time.getTime();\nvar alarm = timeseconds + timer;\n\n\nflow.set(\"$parent.alarm\", alarm);\nflow.set(\"$parent.time\", timeseconds);\nflow.set(\"$parent.authentication\", \"pending\");\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":240,"wires":[["902613b6.5aed5","4bef9d29.854114"]]},{"id":"5781aaf9.068c44","type":"delay","z":"ecabcceb.4c773","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":320,"wires":[["4bef9d29.854114"]]},{"id":"902613b6.5aed5","type":"function","z":"ecabcceb.4c773","name":"2FA Push","func":"var device = env.get(\"ARdevice\");\nvar timer = env.get(\"timer\");\nvar title = env.get(\"title\");\nvar text = env.get(\"text\");\nvar path = env.get(\"2FApath\");\nvar ID = env.get(\"ID\");\nvar default2fa = env.get(\"default2fa\");\nvar status2fa;\n\nif(default2fa === true){\n    status2fa = \"approved\";\n}\n\nif(default2fa === false){\n    status2fa = \"declined\";\n}\n\n\nvar key = global.get(device);\nvar time = flow.get(\"$parent.time\");\nvar alarm = flow.get(\"$parent.alarm\");\nvar url = \"https://autoremotejoaomgcd.appspot.com/sendmessage\";\nvar command = \"2FA\";\nvar body = {\n    \"title\": {\n        \"title\": title,\n        \"titleexpanded\": title\n  },\n  \"text\": {\n        \"text\": text,\n        \"textexpanded\": text\n  },\n  \"icons\": {\n    \"navbaricon\": \"android.resource://net.dinglisch.android.taskerm/hl_device_access_new_account\",\n    \"bigicon\": \"android.resource://net.dinglisch.android.taskerm/hl_device_access_new_account\"\n  },\n  \"notificationid\": ID,\n  \"persistent\": true,\n  \"priority\": 1,\n  \"default2fa\": default2fa,\n  \"status2fa\" : status2fa,\n  \"path\" : path,\n  \"timer\": timer,  // in seconds\n  \"start\": time,   // in ms\n  \"alarm\": alarm,  // in ms\n  \"buttons\": [\n    {\n      \"button1\": {\n        \"icon\": \"\",\n        \"label\": \"Allow\",\n        \"command\": \"2faresponse_true\"\n      },\n     \n      \"button2\": {\n        \"icon\": \"\",\n        \"label\": \"Deny\",\n        \"command\": \"2faresponse_false\"\n      }\n    \n    }\n  ]\n};\nmsg.data = body;\nvar x = JSON.stringify(body);\nvar encodedBody = encodeURIComponent(x);\n\nmsg.url = url + \"?key=\" + key + \"&message=\" +command + \"=:=\"+ encodedBody;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":620,"y":360,"wires":[["4fa17910.bda5d8"]]},{"id":"4fa17910.bda5d8","type":"http request","z":"ecabcceb.4c773","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":360,"wires":[[]]},{"id":"4bef9d29.854114","type":"function","z":"ecabcceb.4c773","name":"Timer","func":"var authentication = flow.get(\"$parent.authentication\");\nvar default2fa = env.get(\"default2fa\");\nvar alarm = flow.get(\"$parent.alarm\");\n\nvar time = new Date();\nvar timeseconds = time.getTime();\n\n//2FA message approved (1)\nif(authentication === \"approved\"){    \n    flow.set(\"$parent.authentication\", \"pending\");\n    return[msg, null, null];\n}\n\n//2FA message declined (2)\nif(authentication === \"declined\"){\n    flow.set(\"$parent.authentication\", \"pending\");\n    return[null, msg, null];\n}\n\n//pending for 2FA message (3)\nif(authentication === \"pending\"){\n    if(timeseconds < alarm){           //loop\n        return[null, null, msg];\n    }\n    \n    if(timeseconds => alarm){\n        if(default2fa === true){         // timeout & default approved\n            \n            return[msg, null, null];\n        }\n        if(default2fa === false){        // timeout & default declined\n            \n            return[null, msg, null];\n        }\n    }\n}","outputs":3,"noerr":0,"x":710,"y":240,"wires":[[],[],["5781aaf9.068c44"]]},{"id":"18d7753b.dcd76b","type":"subflow","name":"AR Component","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"1c262473.69377c"}]}],"out":[],"env":[{"name":"ARname","type":"str","value":""},{"name":"command","type":"str","value":""},{"name":"message","type":"str","value":""}],"color":"#DDAA99"},{"id":"6f13d47b.f8750c","type":"http request","z":"18d7753b.dcd76b","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":80,"wires":[[]]},{"id":"1c262473.69377c","type":"function","z":"18d7753b.dcd76b","name":"Compose AR","func":"var message = env.get(\"message\"); \nvar command = env.get(\"command\"); \nvar ARname = env.get(\"ARname\"); \n\nvar AR = global.get(ARname);\nvar url = \"https://autoremotejoaomgcd.appspot.com/sendmessage?key=\";\n\nurl.method = \"GET\";\nmsg.url = url+AR+\"&message=\"+command+\"=:=\"+message;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":190,"y":80,"wires":[["6f13d47b.f8750c"]]},{"id":"f6227029.abc35","type":"tab","label":"Power Dashboard with PC controls","disabled":false,"info":"![enter image description here](https://notenoughtech.com/wp-content/uploads/2019/12/maxresdefault-8.jpg)\nControl your PC and monitor the power consumption of connected device. I used a NETIO cable to power up my PSU (a similar effect can be achieved with Sonoff POW R2) to take over the control and measurements.\n\n - [Complete instruction](https://notenoughtech.com/home-automation/nodered-home-automation/pc-dashboard-using-netio-power-cables/)\n\n\n**Features**:\n- Online Dashboard\n- Dynamic buttons\n- WOL, Sleep, Restart PC options\n- Total and Daily Cost\n- Total and Daily Power use\n- Total and Daily Up time\n- 7 Day dynamic chart\n- Secure restart\n- [2FA Restart authentication](https://notenoughtech.com/home-automation/nodered-home-automation/two-factor-authentication-in-nodered/)\n\nYou will need the following nodes:\n\n - node-red-dashboard\n - node-red-contrib-wol\n \n\nThis article uses [2FA tutorial](https://notenoughtech.com/home-automation/nodered-home-automation/two-factor-authentication-in-nodered/) and build on the [washing machine notifications](https://notenoughtech.com/featured/washing-machine-notifications/). \n \n You will also need:\n \n - [NETIO Power Cable 101x](https://shop.netio.eu/netio-power-sockets/powercable-modbus-101x/)\n\n or \n \n\n - Sonoff POWR2: ([Aliexpress](http://s.click.aliexpress.com/e/by4YqwXQ), [Banggood](https://www.banggood.com/custlink/mGmvyM4HC2), [Gearbest](https://www.gearbest.com/smart-home-controls/pp_1829203.html?wid=1433363&lkid=20102743), [AmazonUK](https://amzn.to/2TJRPN6), [AmazonUS](https://amzn.to/2u9E0bs), [Itead store](http://shrsl.com/1i9e8))\n\n\n\n\n# Settings\n\n - **Refresh Rate** time interval in seconds to get the readings\n \n"},{"id":"817bed0a.e89a1","type":"inject","z":"f6227029.abc35","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":380,"wires":[["63c794d9.5acfcc","4d03a82d.e26f08"]]},{"id":"e9ba989.10ddd68","type":"ui_chart","z":"f6227029.abc35","name":"","group":"e874ac79.2f1b6","order":9,"width":8,"height":5,"label":"7-day usage","chartType":"bar","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"3000","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":470,"y":560,"wires":[[]]},{"id":"76281df4.1a14e4","type":"ui_button","z":"f6227029.abc35","name":"","group":"e874ac79.2f1b6","order":2,"width":8,"height":1,"passthru":false,"label":"{{msg.label}}","tooltip":"","color":"","bgcolor":"{{msg.color}}","icon":"","payload":"state","payloadType":"str","topic":"","x":1170,"y":380,"wires":[["de78b5f2.762dc8"]]},{"id":"6118a633.f54368","type":"ui_toast","z":"f6227029.abc35","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1570,"y":300,"wires":[]},{"id":"80e443f.75daac","type":"switch","z":"f6227029.abc35","name":"OFF|SLEEP|ON","property":"payload.Outputs[0].Load","propertyType":"msg","rules":[{"t":"lte","v":"2","vt":"num"},{"t":"btwn","v":"3","vt":"num","v2":"5","v2t":"num"},{"t":"gte","v":"6","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":760,"y":380,"wires":[["a08f4d14.6120e"],["1e042510.9de5ab"],["3956d014.6ec89"]]},{"id":"a08f4d14.6120e","type":"function","z":"f6227029.abc35","name":"RESET ","func":"msg.label = \"TURN ON\";\nmsg.color = \"red\";\nflow.set(\"Power_function\", \"reset\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":340,"wires":[["76281df4.1a14e4"]]},{"id":"3956d014.6ec89","type":"function","z":"f6227029.abc35","name":"SLEEP","func":"msg.label = \"SLEEP\";\nmsg.color = \"green\";\nflow.set(\"Power_function\", \"sleep\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":420,"wires":[["76281df4.1a14e4"]]},{"id":"1e042510.9de5ab","type":"function","z":"f6227029.abc35","name":"WOL","func":"msg.label = \"WAKE UP\";\nmsg.color = \"blue\";\nflow.set(\"Power_function\", \"wol\");\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":380,"wires":[["76281df4.1a14e4"]]},{"id":"de78b5f2.762dc8","type":"function","z":"f6227029.abc35","name":"Commands","func":"var x = flow.get(\"Power_function\");\n\nif(x === \"wol\"){\n    msg.payload = \"Desktop will wake up now\";\n    msg.topic = \"Computer: DESKTOP\";\n    return [msg, null, null];\n}\n\nif(x === \"sleep\"){\n    msg.payload = \"Desktop is going to sleep\";\n    msg.topic = \"Computer: DESKTOP\";\n    return [null, msg, null];\n}\n\nif(x === \"reset\"){\n    msg.payload = \"Desktop will reset now\";\n    msg.topic = \"Computer: DESKTOP\";\n    return [null, null, msg];\n}","outputs":3,"noerr":0,"x":1350,"y":380,"wires":[["b1733ce2.6e24e","6118a633.f54368"],["6118a633.f54368","235ae6fe.e45aaa"],["6118a633.f54368","75f8a0b2.f1599"]]},{"id":"b1733ce2.6e24e","type":"wake on lan","z":"f6227029.abc35","mac":"B4:2E:99:36:86:E7","host":"192.168.1.50","udpport":9,"name":"WOL Desktop","x":1560,"y":340,"wires":[]},{"id":"6f8a6801.942308","type":"function","z":"f6227029.abc35","name":"Every Hour","func":"var total = flow.get(\"TotalUseByHour\");\n\nif(total === undefined){\n    total = [0];\n    flow.set(\"TotalUseByHour\", total);\n}\n\nif(!total || !total.length || total === undefined){\n        total = [0];\n    }\n\n//push element to an array 1st postition\n\n\nvar value = flow.get(\"AverageUsePerHour\");\ntotal.unshift(value);\nflow.set(\"TotalUseByHour\", total);\nflow.set(\"AverageUsePerHour\", 0);\n","outputs":1,"noerr":0,"x":470,"y":300,"wires":[[]]},{"id":"47dbcd32.fe1194","type":"inject","z":"f6227029.abc35","name":"Every 24h","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"x":110,"y":340,"wires":[["3ba93291.4aaf8e"]]},{"id":"3431ea39.8c8476","type":"inject","z":"f6227029.abc35","name":"Every hour","topic":"","payload":"true","payloadType":"bool","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":300,"wires":[["6f8a6801.942308"]]},{"id":"3ba93291.4aaf8e","type":"function","z":"f6227029.abc35","name":"Every 24h","func":"var totalD = flow.get(\"TotalUseByHour\");\nvar weektotal = flow.get(\"TotalUseByDay\");\nflow.set(\"TimeDay\", 0);\n\nif(!totalD || !totalD.length || totalD === undefined){\n        totalD = [0];\n        return msg;\n    }\n\n\nfunction add(accumulator, a) {\n            return accumulator + a}\n        \n\n//Watts per 24h\nvar usedperday = totalD.reduce(add);\n\nweektotal.unshift(usedperday);\nflow.set(\"TotalUseByDay\", weektotal);\ntotalD.splice(0,totalD.length);\ntotalD = [0];\nflow.set(\"TotalUseByHour\",totalD);\n\n\n\nvar totalW = flow.get(\"TotalUseByDay\");\n\nif(!totalW || !totalW.length || totalW === undefined){\n        totalW = [0];\n        return msg;\n    }\n\n\n\n//keep x number of elements in an array\n\nvar position = 7;\n\nif(totalW[position] === undefined) {\n    //do nothing if array empty\n}\nelse {\n    totalW.splice(position, 7); //remove 1 element from position\n    flow.set(\"TotalUseByDay\", totalW);\n    \n}\n","outputs":1,"noerr":0,"x":460,"y":340,"wires":[[]]},{"id":"63c794d9.5acfcc","type":"function","z":"f6227029.abc35","name":"Update Chart","func":"var arrayD = flow.get(\"TotalUseByDay\");\nvar arrayH= flow.get(\"TotalUseByHour\");\nvar averageperhour = flow.get(\"AverageUsePerHour\");\n\n//if array doen't exist\nif(arrayD === undefined){\n    arrayD = [0];\n    flow.set(\"TotalUseByDay\", arrayD);\n}\nif(arrayH === undefined){\n    arrayH = [0];\n    flow.set(\"TotalUseByHour\", arrayH);\n}\n\n//function\nfunction add(accumulator, a) {\n            return accumulator + a}\n\n\n//set data, label and series for the chart\n\nvar m = {};\nvar count = arrayD.length;\n\nif(count === undefined || count < 2){\n    \n    m.labels = [\"Today\"];\n    m.data = [[]];\n    m.series = [];\n    \n    \n    if(arrayH[0] === 0){\n        m.data[0].push(averageperhour.toFixed(2));\n        m.series.push(\"Watts/24h\");\n    }\n    if(arrayH[0] > 0){    \n        var usedperday = arrayH.reduce(add);\n        m.data[0].push(usedperday.toFixed(2));\n        m.series.push(\"Watts/24h\");\n    }\n    \n    \n    \n    return {payload:[m],topic:msg.topic};\n}\n\nelse{\n    \n    m.labels = [\"Today\",\"Yesterday\",\"Day3\",\"Da4\",\"Day5\",\"Day6\", \"Day7\"];\n    m.data = [[]];\n    m.series = [];\n    if(arrayH[0] === 0){\n        m.data[0].push(averageperhour.toFixed(2));\n        m.series.push(\"Watts/24h\");\n    }\n    if(arrayH[0] > 0){    \n        usedperday = arrayH.reduce(add);\n        m.data[0].push(usedperday.toFixed(2));\n        m.series.push(\"Watts/24h\");\n    }m.series.push(\"Watts/24h\");\n\nfor (i=0; i<count; i++){\n    m.data[0].push(arrayD[i].toFixed(2));\n    m.series.push(\"Watts/24h\");\n} \n\nreturn {payload:[m],topic:msg.topic};\n}","outputs":1,"noerr":0,"x":270,"y":560,"wires":[["e9ba989.10ddd68"]]},{"id":"3f9e86d0.a07aca","type":"inject","z":"f6227029.abc35","name":"","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":600,"wires":[["e9ba989.10ddd68"]]},{"id":"235ae6fe.e45aaa","type":"subflow:18d7753b.dcd76b","z":"f6227029.abc35","name":"AR Message","env":[{"name":"ARname","value":"ARdesktop","type":"str"},{"name":"command","value":"PC","type":"str"},{"name":"message","value":"sleep","type":"str"}],"x":1550,"y":400,"wires":[]},{"id":"f467227.f4f27e","type":"function","z":"f6227029.abc35","name":"Reset (needs 2FA)","func":"var IP = \"192.168.1.93\";\nvar command = 2;\n\nmsg.url = \"http://\"+IP+\"/netio.json\";\n\nmsg.payload = {\n \"Outputs\": [{\n  \"ID\": 1,\n  \"Action\": command\n }]\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1790,"y":440,"wires":[["ad5b7f02.e2a02"]]},{"id":"ad5b7f02.e2a02","type":"http request","z":"f6227029.abc35","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1990,"y":440,"wires":[["8960d257.71bbd"]]},{"id":"8960d257.71bbd","type":"http response","z":"f6227029.abc35","name":"","statusCode":"","headers":{},"x":2150,"y":440,"wires":[]},{"id":"a8b0c5e.56db538","type":"inject","z":"f6227029.abc35","name":"Refresh Rate","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["96a3fc2a.fa23a"]]},{"id":"96a3fc2a.fa23a","type":"function","z":"f6227029.abc35","name":"Settings/clear reset","func":"flow.set(\"refresh_rate\", msg.payload);\n\n//reset\nflow.set(\"TimeDay\",0);\nflow.set(\"TimeTotal\",0);\nflow.set(\"TotalUseByDay\",[0]);\nflow.set(\"TotalUseByHour\",[0]);\nflow.set(\"AverageUsePerHour\",0);\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":80,"wires":[[]]},{"id":"cd37c0a2.71c6","type":"function","z":"f6227029.abc35","name":"Store Values","func":"flow.set(\"Voltage\", msg.payload.GlobalMeasure.Voltage);\nflow.set(\"TotalLoad\", msg.payload.GlobalMeasure.TotalLoad);\nflow.set(\"TotalEnergy\", msg.payload.GlobalMeasure.TotalEnergy);\nflow.set(\"PowerFactor\", msg.payload.GlobalMeasure.TotalEnergy);\nflow.set(\"Frequency\", msg.payload.GlobalMeasure.Frequency);\nflow.set(\"Current\", msg.payload.Outputs[0].Current);\nflow.set(\"StartDate\", msg.payload.GlobalMeasure.EnergyStart);\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":380,"wires":[["80e443f.75daac","551efbab.008754"]]},{"id":"4d03a82d.e26f08","type":"http request","z":"f6227029.abc35","name":"NETIO REST","method":"GET","ret":"obj","paytoqs":true,"url":"http://192.168.1.93/netio.json","tls":"","persist":false,"proxy":"","authType":"basic","x":300,"y":380,"wires":[["cd37c0a2.71c6"]]},{"id":"551efbab.008754","type":"function","z":"f6227029.abc35","name":"Calculate all","func":"//get values\nvar totalload =  flow.get(\"TotalLoad\");\nvar totalenergy = flow.get(\"TotalEnergy\");\nvar refresh = flow.get(\"refresh_rate\");\nvar totalusebyday = flow.get(\"TotalUseByDay\");\nvar totalusebyhour = flow.get(\"TotalUseByHour\");\nvar timetotal = flow.get(\"TimeTotal\");\nvar timeday = flow.get(\"TimeDay\");\nvar cost = global.get(\"PowerCost\");\nvar averageuseperhour = flow.get(\"AverageUsePerHour\");\n\n//ERROR HANDLING\n\n\n\n\n\n\n\n\n\n// functions\nfunction calcTimeHM(hh){\n    var hours = (\"0\"+Math.floor((hh%86400)/3600)).slice(-2);\n    var minutes = (\"0\"+Math.floor((hh%3600)/60)).slice(-2);\n    return hours + \"h \" + minutes +\"min\";\n}\n\nfunction calcTimeDHM(hh){\n    var days = (\"0\"+Math.floor(hh/86400)).slice(-2);\n    var hours = (\"0\"+Math.floor((hh%86400)/3600)).slice(-2);\n    var minutes = (\"0\"+Math.floor((hh%3600)/60)).slice(-2);\n    return days+\"d \" +hours + \"h \" + minutes +\"min\";\n}\n\nfunction add(accumulator, a) {\n            return accumulator + a}\n\n//WATTAGE\n\n//total kWh\nvar kw = totalenergy/1000;\n//today so far W\nvar todayw1 = totalusebyhour[0];\nif(todayw1 === 0){\n    var todayw = averageuseperhour.toFixed(2);\n}\nif(todayw1 !== 0){\n   todayw = (totalusebyhour.reduce(add) + averageuseperhour).toFixed(2);\n}\n\n// Watts used in X sec (W per h)\nvar houruse = ((totalload/3600)*refresh);\nvar currentuse = averageuseperhour +  houruse;  \n\n\n//COST\n\n//calculate the day cost per used kWh\nvar daycost1 = totalusebyhour[0];\nif(daycost1 === 0 || undefined){\n    var daycost = (averageuseperhour/1000 * cost).toFixed(2);\n}\nif(daycost1 !== 0){\n    daycost = ((totalusebyhour.reduce(add))/1000 * cost).toFixed(2);\n}\n//calculate the day cost per used kWh\nvar totalcost = (totalenergy/1000*cost).toFixed(2);\n\n\n//TIME\n\n//calculate uptime\nif(totalload => 5){\n    //total uptime\n    var timeT = timetotal + 10;    \n    var timeTdisplay = calcTimeDHM(timeT);\n    //daily so far uptime\n    var timeD = timeday + 10;    \n    var timeDdisplay = calcTimeHM(timeD);\n}\nif(totalload < 5){\n    //total uptime\n    timeT = timetotal;    \n    timeTdisplay = calcTimeDHM(timeT);\n    //daily so far uptime\n    timeD = timeday;    \n    timeDdisplay = calcTimeHM(timeD);\n}\n     \n//update values\nflow.set(\"TimeTotal\", timeT);\nflow.set(\"TimeDay\", timeD);\nflow.set(\"AverageUsePerHour\", currentuse);\n\n\n\n\n//final payload\n\nmsg.payload = {\n    \"kwh\"         : kw,\n    \"todayw\"      : todayw,\n    \"daycost\"     : daycost,\n    \"totalcost\"   : totalcost,\n    \"currentuse\"  : currentuse,\n    \"timeT\"       : timeT,\n    \"timeTdisplay\": timeTdisplay,\n    \"timeD\"       : timeD,\n    \"timeDdisplay\": timeDdisplay,\n    \"totalload\"   : totalload,\n    \"totalenergy\" : totalenergy\n};\n\n\nreturn msg;\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":750,"y":520,"wires":[["c6cf8dbd.ded4b","f2767cc3.5c0f9","552481d.fac5b8","31f8320b.51b9ee","3a2a73f4.0e8f6c","8faba962.176eb8","e63658d9.b9c398"]]},{"id":"c6cf8dbd.ded4b","type":"ui_gauge","z":"f6227029.abc35","name":"Current Load","group":"e874ac79.2f1b6","order":1,"width":8,"height":4,"gtype":"gage","title":"Current Power (W)","label":"Watts","format":"{{msg.payload.totalload}}W","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1250,"y":720,"wires":[]},{"id":"f2767cc3.5c0f9","type":"ui_text","z":"f6227029.abc35","group":"e874ac79.2f1b6","order":5,"width":4,"height":1,"name":"Total Cost","label":"Total Electricity Cost ","format":"£{{msg.payload.totalcost}}","layout":"row-spread","x":1240,"y":680,"wires":[]},{"id":"31f8320b.51b9ee","type":"ui_text","z":"f6227029.abc35","group":"e874ac79.2f1b6","order":7,"width":4,"height":1,"name":"Total Watts","label":"Total Power Use (kW)","format":"{{msg.payload.kwh}}kW","layout":"row-spread","x":1250,"y":600,"wires":[]},{"id":"3a2a73f4.0e8f6c","type":"ui_text","z":"f6227029.abc35","group":"e874ac79.2f1b6","order":3,"width":4,"height":1,"name":"Today Watts","label":"Today so far (Wh)","format":"{{msg.payload.todayw}}Wh","layout":"row-spread","x":1250,"y":560,"wires":[]},{"id":"552481d.fac5b8","type":"ui_text","z":"f6227029.abc35","group":"e874ac79.2f1b6","order":6,"width":4,"height":1,"name":"Daily Cost","label":"Daily Cost (£)","format":"£{{msg.payload.daycost}}","layout":"row-spread","x":1250,"y":640,"wires":[]},{"id":"8faba962.176eb8","type":"ui_text","z":"f6227029.abc35","group":"e874ac79.2f1b6","order":4,"width":4,"height":1,"name":"Today Uptime","label":"Today Uptime","format":"{{msg.payload.timeDdisplay}}","layout":"row-spread","x":1260,"y":520,"wires":[]},{"id":"e63658d9.b9c398","type":"ui_text","z":"f6227029.abc35","group":"e874ac79.2f1b6","order":8,"width":4,"height":1,"name":"Total Uptime","label":"Total Uptime","format":"{{msg.payload.timeTdisplay}}","layout":"row-spread","x":1250,"y":480,"wires":[]},{"id":"4d012c49.ecd0d4","type":"ui_switch","z":"f6227029.abc35","name":"","label":"","tooltip":"","group":"e874ac79.2f1b6","order":11,"width":3,"height":1,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":330,"y":680,"wires":[["e1b1f90c.5bc9c8"]]},{"id":"13755771.717779","type":"ui_text","z":"f6227029.abc35","group":"e874ac79.2f1b6","order":10,"width":5,"height":1,"name":"","label":"Enable RESTART","format":"","layout":"row-spread","x":150,"y":680,"wires":[]},{"id":"74da2055.e80e8","type":"ui_button","z":"f6227029.abc35","name":"","group":"e874ac79.2f1b6","order":12,"width":0,"height":0,"passthru":false,"label":"RESTART","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"Off","payloadType":"str","topic":"","x":410,"y":820,"wires":[["aff91075.750e3","f467227.f4f27e"]]},{"id":"e1b1f90c.5bc9c8","type":"function","z":"f6227029.abc35","name":"Enable button","func":"var x =  msg.payload;\nmsg.enabled = x;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":680,"wires":[["74da2055.e80e8"]]},{"id":"aff91075.750e3","type":"delay","z":"f6227029.abc35","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":820,"wires":[["83320f9b.7251c"]]},{"id":"83320f9b.7251c","type":"change","z":"f6227029.abc35","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":820,"wires":[["e1b1f90c.5bc9c8"]]},{"id":"75f8a0b2.f1599","type":"subflow:ecabcceb.4c773","z":"f6227029.abc35","name":"","env":[{"name":"timer","value":"60","type":"num"},{"name":"ARdevice","value":"ARmi9","type":"str"},{"name":"title","value":"Restart Desktop?","type":"str"},{"name":"text","value":"Confirm the action","type":"str"},{"name":"2FApath","value":"/2fa/desktop","type":"str"},{"name":"ID","value":"2FAdesktop","type":"str"}],"x":1530,"y":440,"wires":[["f467227.f4f27e"]]},{"id":"bf307c94.3621","type":"http in","z":"f6227029.abc35","name":"","url":"/2fa/desktop","method":"post","upload":false,"swaggerDoc":"","x":1570,"y":500,"wires":[["63ddcd8f.acbf54","1b65ada4.3ec3e2"]]},{"id":"1b65ada4.3ec3e2","type":"function","z":"f6227029.abc35","name":"2FA authenticate","func":"var x = msg.payload.authentication;\n\nif(x === true){\n    flow.set(\"authentication\", \"approved\");\n}\nif(x === false){\n    flow.set(\"authentication\", \"declined\");\n}\n\n","outputs":1,"noerr":0,"x":1790,"y":500,"wires":[[]]},{"id":"63ddcd8f.acbf54","type":"http response","z":"f6227029.abc35","name":"","statusCode":"","headers":{},"x":1720,"y":540,"wires":[]},{"id":"ab0125a7.c7f268","type":"comment","z":"f6227029.abc35","name":"Set this first","info":"","x":210,"y":40,"wires":[]},{"id":"e874ac79.2f1b6","type":"ui_group","z":"","name":"Computer","tab":"36fcac52.1e0174","disp":true,"width":8,"collapse":false},{"id":"36fcac52.1e0174","type":"ui_tab","z":"","name":"Computer","icon":"dashboard","order":9,"disabled":false,"hidden":false}]