Sonoff DIY/flows.json
[{"id":"fa594564.ead2b8","type":"tab","label":"Sonoff DIY 2.0","disabled":false,"info":""},{"id":"5e2953c3.97c63c","type":"http request","z":"fa594564.ead2b8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":160,"wires":[["9fdc9eb9.dda72"]]},{"id":"9fdc9eb9.dda72","type":"debug","z":"fa594564.ead2b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":160,"wires":[]},{"id":"3fce326a.4ebcee","type":"function","z":"fa594564.ead2b8","name":"Compose URL info","func":"var IP = \"192.168.1.179\";\nvar port = \"8081\";\n\nvar mode = \"info\";  //device info\n\n//possible modes\n//var mode = \"switch\"  //relay control\n// var mode = \"startup\"  //startup control\n// var mode = \"signal_strength\"  //signal\n// var mode = \"pulse\"  //inching\n// var mode = \"wifi\"  //relay control\n// var mode = \"ota_unlock\"  //ota unlock\n// var mode = \"ota_flash\"  //ota flash\n\n\n//Sonoff info\nvar data = {\n    \"deviceid\": \"\",\n    \"data\": {}  \n}\n\n/* other data values\n\n//switch relay\nvar data = {\n    \"deviceid\": \"\",\n    \"data\": {\"switch\": \"on\"}  //on|off values\n}\n\n//startup behaviour\nvar data = {\n    \"deviceid\": \"\", \n    \"data\": {\"startup\": \"stay\"    }   //on|off|stay values\n};\n\n//inching\nvar data = {\n    \"deviceid\": \"\",\n     \"data\": {\"pulse\": \"on\",\"pulseWidth\": 2000} //on|off and value in ms values\n};\n//wifi credentials\nvar data = {\n    \"deviceid\": \"\",\n    \"data\": {\"ssid\": \"eWeLink\",\"password\": \"WeLoveIoT\"}  //ssid & pass\n}\nflash OTA\nvar data = {\n    \"deviceid\": \"\",\n     \"data\": {\n        \"downloadUrl\": \"http://192.168.1.184/ota/new_rom.bin\", \n        \"sha256sum\": \"3213b2c34cecbb3bb817030c7f025396b658634c0cf9c4435fc0b52ec9644667\"\n    }\n}\n//otain values - send an empty\nvar data = {\n    \"deviceid\": \"\",\n    \"data\": {}  \n}\n\n------>*/\n\nmsg.payload =  data;\nmsg.url = \"http://\"+IP+\":\"+port+\"/zeroconf/\"+ mode;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":160,"wires":[["5e2953c3.97c63c"]]},{"id":"c98fb1d6.1eedc","type":"inject","z":"fa594564.ead2b8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":160,"wires":[["3fce326a.4ebcee"]]},{"id":"4d54d091.8f8cc","type":"comment","z":"fa594564.ead2b8","name":"Config Function Node first","info":"","x":410,"y":120,"wires":[]},{"id":"2b92c157.a2f91e","type":"http request","z":"fa594564.ead2b8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":300,"wires":[["81f588c1.cc3ea8"]]},{"id":"81f588c1.cc3ea8","type":"debug","z":"fa594564.ead2b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":300,"wires":[]},{"id":"1fea536b.fab57d","type":"function","z":"fa594564.ead2b8","name":"Compose URL command","func":"var IP = \"192.168.1.179\";\nvar port = \"8081\";\nvar state = msg.payload;\n\n//var mode = \"info\";  //device info\n\n//possible modes\n var mode = \"switch\"  //relay control\n// var mode = \"startup\"  //startup control\n// var mode = \"signal_strength\"  //signal\n// var mode = \"pulse\"  //inching\n// var mode = \"wifi\"  //relay control\n// var mode = \"ota_unlock\"  //ota unlock\n// var mode = \"ota_flash\"  //ota flash\n\n\n//Sonoff info\nvar data = {\n    \"deviceid\": \"\",\n    \"data\": {\"switch\": state}  //on|off values\n}\n\n/* other data values\n\n//switch relay\nvar data = {\n    \"deviceid\": \"\",\n    \"data\": {\"switch\": \"on\"}  //on|off values\n}\n\n//startup behaviour\nvar data = {\n    \"deviceid\": \"\", \n    \"data\": {\"startup\": \"stay\"    }   //on|off|stay values\n};\n\n//inching\nvar data = {\n    \"deviceid\": \"\",\n     \"data\": {\"pulse\": \"on\",\"pulseWidth\": 2000} //on|off values\n};\n//wifi credentials\nvar data = {\n    \"deviceid\": \"\",\n    \"data\": {\"ssid\": \"eWeLink\",\"password\": \"WeLoveIoT\"}  //ssid & pass\n}\nflash OTA\nvar data = {\n    \"deviceid\": \"\",\n     \"data\": {\n        \"downloadUrl\": \"http://192.168.1.184/ota/new_rom.bin\", \n        \"sha256sum\": \"3213b2c34cecbb3bb817030c7f025396b658634c0cf9c4435fc0b52ec9644667\"\n    }\n}\n//otain values - send an empty\nvar data = {\n    \"deviceid\": \"\",\n    \"data\": {}  \n}\n\n------>*/\n\nmsg.payload =  data;\nmsg.url = \"http://\"+IP+\":\"+port+\"/zeroconf/\"+ mode;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":300,"wires":[["2b92c157.a2f91e"]]},{"id":"4faaa3a4.1ac35c","type":"inject","z":"fa594564.ead2b8","name":"on","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":300,"wires":[["1fea536b.fab57d"]]},{"id":"1e7a4a9d.56aa75","type":"comment","z":"fa594564.ead2b8","name":"Config Function Node command","info":"","x":430,"y":260,"wires":[]},{"id":"124a164f.ef305a","type":"inject","z":"fa594564.ead2b8","name":"off","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":400,"wires":[["1fea536b.fab57d"]]}]