Tuya Cloud API/flows.json
[{"id":"85106e90.ba7d","type":"tab","label":"Tuya Cloud API","disabled":false,"info":"\r\n# Tuya Cloud API for beginners\r\n\r\nThis project explains how to work with Tuya Cloud API and how to use Postman to develop REST request for NodeRED\r\n\r\n\r\n![Logo](https://notenoughtech.com/wp-content/uploads/2021/07/2021-07-12-23_35_30-Brand-Logo-Guidelines-Video-v2.0.0_0817.pdf-Personal-Microsoft%E2%80%8B-Edge.jpg)\r\n\r\n    \r\n## Features\r\n\r\n- Authentication\r\n- Get device list\r\n- Get status and data points\r\n- Issue commands\r\n\r\n  \r\n## Documentation\r\n\r\n[Documentation](https://linktodocumentation)\r\n\r\n  \r\n## More on\r\n\r\nVisit my page and the [article](https://notenoughtech.com/home-automation/tuya-cloud-api/) covering this topic.\r\n\r\n  \r\n## Appendix\r\n\r\nPostman, Tuya Cloud API\r\n  \r\n## 🔗 Follow my work\r\n[![Twitter Follow](https://img.shields.io/twitter/follow/notenoughtech?label=%40notenoughtech&logo=twitter&style=for-the-badge)](https://twitter.com/NotEnoughTECH)\r\n[![YouTube Channel Subscribers](https://img.shields.io/youtube/channel/subscribers/UC7V__uBIaZotHn_smHJShGQ?label=NotEnoughTech&logo=YouTube&logoColor=red&style=for-the-badge)](https://www.youtube.com/channel/UC7V__uBIaZotHn_smHJShGQ)\r\n[![Subreddit subscribers](https://img.shields.io/reddit/subreddit-subscribers/not_enough_tech?logo=reddit&logoColor=white&style=for-the-badge)](https://www.reddit.com/r/Not_Enough_Tech/)"},{"id":"28835874afcc4f5c","type":"group","z":"85106e90.ba7d","name":"Get Data","style":{"stroke":"#0070c0","fill":"#ff7f7f","label":true,"label-position":"n","color":"#ffffff"},"nodes":["6cacd4ab.6815ec","c161e3c8.d0897","bb58242d.6f3308","bab63b81.64cc68","d65781af.9ce63","e251b91d.7e1928","5891c64.18f4b38","a4263741c54e736c","1f582125c9cae8ec","bcc2faef0bbe2837","d6bbd07ce3938098","c63efaa8d54a0af9","b4c7dfc6e3434adc","2fb16fe88753460a","a9e71a7c6f28c1f5","27eb3caf2b133c91","5b70bee55ecf25b5","ba244f5bcf25ebc8","228ed223f65f2841","93701c9cc231d05f","d260be5f4bc99ab1","defb7b5ad4440eb4","ddfa562e0e995ddc"],"x":114,"y":339,"w":1232,"h":362},{"id":"459556be589981da","type":"group","z":"85106e90.ba7d","name":"Device Control","style":{"stroke":"#001f60","fill":"#7fb7df","label":true,"label-position":"n","color":"#ffffff"},"nodes":["0cc2caef011e3c43","6c6dfbe5eb550c10","23c744a821378fc6","88000d67c5951c86","d9f6ab1b2aed5fe9","cdd6e742d032c2f8","771518a9f229723f","a4dfe66ed60f2dbe","3f513a9ecfd2c25d","6520a8207254d398","e18334a880dcd181","7acd3bec142d4293","cde63a443b1ad060","d34fbb39f5fc29be","5c841ddf5c53815d"],"x":114,"y":779,"w":1272,"h":182},{"id":"4eb2e8d3ee7b8f62","type":"group","z":"85106e90.ba7d","name":"Authentication","style":{"label":true,"label-position":"n","stroke":"#6f2fa0","fill":"#ffcf3f"},"nodes":["34d0550e.860c3a","cd3a5e88.04116","1169f5e7.2e02aa","d88e81cd.7d7ff","5c495078.1188e","3712141b.e397bc","e83a17f7.dd1898","9811b0a8.5771d","a50aba26.ccd0a8","6056e5e2.5c4a7c","99df00b9.6c9c9","81f1073e.ac4f18","dc953120.bed13","39007036.86e56"],"x":134,"y":79,"w":1172,"h":222},{"id":"34d0550e.860c3a","type":"hmac","z":"85106e90.ba7d","g":"4eb2e8d3ee7b8f62","name":"Tuya Client","algorithm":"HmacSHA256","key":"f42bf149d4974d9991d1bcbde07bde5f","x":590,"y":160,"wires":[["5c495078.1188e"]]},{"id":"cd3a5e88.04116","type":"inject","z":"85106e90.ba7d","g":"4eb2e8d3ee7b8f62","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":160,"wires":[["1169f5e7.2e02aa"]]},{"id":"1169f5e7.2e02aa","type":"function","z":"85106e90.ba7d","g":"4eb2e8d3ee7b8f62","name":"Prep Encrypt","func":"var time = msg.payload;\nvar client_id  = flow.get(\"tuya_client_id\");\n\nvar data = client_id+time;\nmsg.payload = data;\nmsg.time = time;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\n\n// get these from your Tuya dev console and set \n//your client SECRET in SHA256 node\n\nvar client_id  = \"11a1ffc646c020517jef\";\nvar user_id = \"eu1562663373867mMCv3\";\nflow.set(\"tuya_client_id\", client_id);\nflow.set(\"tuya_user_id\", user_id );\n\n","finalize":"","libs":[],"x":410,"y":160,"wires":[["34d0550e.860c3a"]]},{"id":"d88e81cd.7d7ff","type":"http request","z":"85106e90.ba7d","g":"4eb2e8d3ee7b8f62","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":160,"wires":[["3712141b.e397bc"]]},{"id":"5c495078.1188e","type":"function","z":"85106e90.ba7d","g":"4eb2e8d3ee7b8f62","name":"Format request","func":"var url = \"https://openapi.tuyaeu.com\";\nvar sign = msg.payload;\nvar t = msg.time;\n\n// Call the APIs according to your region. \n// China https://openapi.tuyacn.com \n// America https://openapi.tuyaus.com \n// Europe https://openapi.tuyaeu.com \n// India https://openapi.tuyain.com \n\nmsg.headers ={\n    \"client_id\": \"11a1ffc646c020517jef\",\n    \"sign\": sign.toUpperCase(),\n    \"t\": t.toString(),\n    \"sign_method\": \"HMAC-SHA256\"\n  },\n\nmsg.method = \"GET\";\nmsg.url = url + \"/v1.0/token?grant_type=1\";\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":160,"wires":[["d88e81cd.7d7ff"]]},{"id":"3712141b.e397bc","type":"function","z":"85106e90.ba7d","g":"4eb2e8d3ee7b8f62","name":"","func":"var data = msg.payload;\nvar access = data.result.access_token;\nvar refresh = data.result.refresh_token;\n\nvar creds ={\n    \"access_token\" : access,\n    \"refresh_token\" : refresh\n}\n\nflow.set(\"tuya\", creds);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":160,"wires":[[]]},{"id":"e83a17f7.dd1898","type":"comment","z":"85106e90.ba7d","g":"4eb2e8d3ee7b8f62","name":"Get Access Token","info":"","x":250,"y":120,"wires":[]},{"id":"9811b0a8.5771d","type":"function","z":"85106e90.ba7d","g":"4eb2e8d3ee7b8f62","name":"","func":"var data =  flow.get(\"tuya\");\nvar client_id = flow.get(\"tuya_client_id\");\nvar url = \"https://openapi.tuyaeu.com\";\nvar sign = msg.payload;\nvar t = msg.time;\nvar refresh_token = data.refresh_token;\n\n\n// Call the APIs according to your region. \n// China https://openapi.tuyacn.com \n// America https://openapi.tuyaus.com \n// Europe https://openapi.tuyaeu.com \n// India https://openapi.tuyain.com \n\nmsg.headers = {\n    \"client_id\": client_id,\n    \"sign\": sign.toUpperCase(),\n    \"t\": t.toString(),\n    \"sign_method\": \"HMAC-SHA256\"\n  },\n\nmsg.method = \"GET\";\nmsg.url = url + \"/v1.0/token/\" + refresh_token;\n\n\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":260,"wires":[["81f1073e.ac4f18"]]},{"id":"a50aba26.ccd0a8","type":"hmac","z":"85106e90.ba7d","g":"4eb2e8d3ee7b8f62","name":"Tuya Client","algorithm":"HmacSHA256","key":"f42bf149d4974d9991d1bcbde07bde5f","x":590,"y":260,"wires":[["9811b0a8.5771d"]]},{"id":"6056e5e2.5c4a7c","type":"inject","z":"85106e90.ba7d","g":"4eb2e8d3ee7b8f62","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":250,"y":260,"wires":[["99df00b9.6c9c9"]]},{"id":"99df00b9.6c9c9","type":"function","z":"85106e90.ba7d","g":"4eb2e8d3ee7b8f62","name":"Prep Encrypt","func":"var time = msg.payload;\nvar client_id  = flow.get(\"tuya_client_id\");\n\nvar data = client_id+time;\nmsg.payload = data;\nmsg.time = time;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":260,"wires":[["a50aba26.ccd0a8"]]},{"id":"81f1073e.ac4f18","type":"http request","z":"85106e90.ba7d","g":"4eb2e8d3ee7b8f62","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":260,"wires":[["dc953120.bed13"]]},{"id":"dc953120.bed13","type":"function","z":"85106e90.ba7d","g":"4eb2e8d3ee7b8f62","name":"","func":"var data = msg.payload;\nvar access = data.result.access_token;\nvar refresh = data.result.refresh_token;\n\nvar creds ={\n    \"access_token\" : access,\n    \"refresh_token\" : refresh\n}\n\nflow.set(\"tuya\", creds);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":260,"wires":[[]]},{"id":"39007036.86e56","type":"comment","z":"85106e90.ba7d","g":"4eb2e8d3ee7b8f62","name":"Refresh Token","info":"","x":230,"y":220,"wires":[]},{"id":"6cacd4ab.6815ec","type":"function","z":"85106e90.ba7d","g":"28835874afcc4f5c","name":"","func":"var data =  flow.get(\"tuya\");\nvar client_id = flow.get(\"tuya_client_id\");\nvar uid = flow.get(\"tuya_user_id\");\nvar url = \"https://openapi.tuyaeu.com\";\nvar sign = msg.payload;\nvar t = msg.time;\nvar refresh_token = data.refresh_token;\nvar access_token = data.access_token;\n\n// Call the APIs according to your region. \n// China https://openapi.tuyacn.com \n// America https://openapi.tuyaus.com \n// Europe https://openapi.tuyaeu.com \n// India https://openapi.tuyain.com \n\nmsg.headers = {\n    \"client_id\": client_id,\n    \"access_token\": access_token,\n    \"sign\": sign.toUpperCase(),\n    \"t\": t.toString(),\n    \"sign_method\": \"HMAC-SHA256\"\n  },\n\nmsg.method = \"GET\";\nmsg.url = url + \"/v1.0/users/\"+ uid +\"/devices\";\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":420,"wires":[["e251b91d.7e1928"]]},{"id":"c161e3c8.d0897","type":"hmac","z":"85106e90.ba7d","g":"28835874afcc4f5c","name":"Tuya Client","algorithm":"HmacSHA256","key":"f42bf149d4974d9991d1bcbde07bde5f","x":590,"y":420,"wires":[["6cacd4ab.6815ec"]]},{"id":"bb58242d.6f3308","type":"inject","z":"85106e90.ba7d","g":"28835874afcc4f5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":420,"wires":[["bab63b81.64cc68"]]},{"id":"bab63b81.64cc68","type":"function","z":"85106e90.ba7d","g":"28835874afcc4f5c","name":"Prep Encrypt","func":"var time = msg.payload;\nvar client_id  = flow.get(\"tuya_client_id\");\nvar creds = flow.get(\"tuya\");\nvar access_token = creds.access_token;\n\nvar data = client_id +access_token+time;\nmsg.payload = data;\nmsg.time = time;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":420,"wires":[["c161e3c8.d0897"]]},{"id":"d65781af.9ce63","type":"comment","z":"85106e90.ba7d","g":"28835874afcc4f5c","name":"Get Device list","info":"","x":210,"y":380,"wires":[]},{"id":"e251b91d.7e1928","type":"http request","z":"85106e90.ba7d","g":"28835874afcc4f5c","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":420,"wires":[["5891c64.18f4b38"]]},{"id":"5891c64.18f4b38","type":"function","z":"85106e90.ba7d","g":"28835874afcc4f5c","name":"","func":"var data = msg.payload;\nflow.set(\"tuya_devices\", data);\n\nif(data.success === true){\n\n    for(var x = 0; x < data.result.length; x++){\n        \n        let device_data = {\n                \"device_name\" : data.result[x].name,\n                \"device_id\": data.result[x].id,\n                \"online_state\": data.result[x].status\n        }\n        \n        flow.set(data.result[x].id, device_data );\n        }\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":420,"wires":[[]]},{"id":"a4263741c54e736c","type":"function","z":"85106e90.ba7d","g":"28835874afcc4f5c","name":"","func":"var data =  flow.get(\"tuya\");\nvar client_id = flow.get(\"tuya_client_id\");\nvar uid = flow.get(\"tuya_user_id\");\nvar url = \"https://openapi.tuyaeu.com\";\nvar sign = msg.payload;\nvar t = msg.time;\nvar refresh_token = data.refresh_token;\nvar access_token = data.access_token;\n\nvar deviceID = msg.deviceID;\n\n// Call the APIs according to your region. \n// China https://openapi.tuyacn.com \n// America https://openapi.tuyaus.com \n// Europe https://openapi.tuyaeu.com \n// India https://openapi.tuyain.com \n\nmsg.headers = {\n    \"client_id\": client_id,\n    \"access_token\": access_token,\n    \"sign\": sign.toUpperCase(),\n    \"t\": t.toString(),\n    \"sign_method\": \"HMAC-SHA256\"\n  },\n\nmsg.method = \"GET\";\nmsg.url = url + \"/v1.0/devices/\"+ deviceID;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":540,"wires":[["b4c7dfc6e3434adc"]]},{"id":"1f582125c9cae8ec","type":"hmac","z":"85106e90.ba7d","g":"28835874afcc4f5c","name":"Tuya Client","algorithm":"HmacSHA256","key":"f42bf149d4974d9991d1bcbde07bde5f","x":590,"y":540,"wires":[["93701c9cc231d05f"]]},{"id":"bcc2faef0bbe2837","type":"inject","z":"85106e90.ba7d","g":"28835874afcc4f5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":540,"wires":[["d6bbd07ce3938098"]]},{"id":"d6bbd07ce3938098","type":"function","z":"85106e90.ba7d","g":"28835874afcc4f5c","name":"Prep Encrypt","func":"var time = msg.payload;\nvar client_id  = flow.get(\"tuya_client_id\");\nvar creds = flow.get(\"tuya\");\nvar access_token = creds.access_token;\n\nvar data = client_id +access_token+time;\nmsg.payload = data;\nmsg.time = time;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":540,"wires":[["1f582125c9cae8ec"]]},{"id":"c63efaa8d54a0af9","type":"comment","z":"85106e90.ba7d","g":"28835874afcc4f5c","name":"Get Device status","info":"","x":230,"y":500,"wires":[]},{"id":"b4c7dfc6e3434adc","type":"http request","z":"85106e90.ba7d","g":"28835874afcc4f5c","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1050,"y":540,"wires":[["defb7b5ad4440eb4"]]},{"id":"2fb16fe88753460a","type":"function","z":"85106e90.ba7d","g":"28835874afcc4f5c","name":"","func":"var data =  flow.get(\"tuya\");\nvar client_id = flow.get(\"tuya_client_id\");\nvar uid = flow.get(\"tuya_user_id\");\nvar url = \"https://openapi.tuyaeu.com\";\nvar sign = msg.payload;\nvar t = msg.time;\nvar refresh_token = data.refresh_token;\nvar access_token = data.access_token;\n\nvar deviceID = msg.deviceID;\n\n// Call the APIs according to your region. \n// China https://openapi.tuyacn.com \n// America https://openapi.tuyaus.com \n// Europe https://openapi.tuyaeu.com \n// India https://openapi.tuyain.com \n\nmsg.headers = {\n    \"client_id\": client_id,\n    \"access_token\": access_token,\n    \"sign\": sign.toUpperCase(),\n    \"t\": t.toString(),\n    \"sign_method\": \"HMAC-SHA256\"\n  },\n\nmsg.method = \"GET\";\nmsg.url = url + \"/v1.0/devices/\"+ deviceID +\"/status\";\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":660,"wires":[["228ed223f65f2841"]]},{"id":"a9e71a7c6f28c1f5","type":"hmac","z":"85106e90.ba7d","g":"28835874afcc4f5c","name":"Tuya Client","algorithm":"HmacSHA256","key":"f42bf149d4974d9991d1bcbde07bde5f","x":590,"y":660,"wires":[["d260be5f4bc99ab1"]]},{"id":"27eb3caf2b133c91","type":"inject","z":"85106e90.ba7d","g":"28835874afcc4f5c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":660,"wires":[["5b70bee55ecf25b5"]]},{"id":"5b70bee55ecf25b5","type":"function","z":"85106e90.ba7d","g":"28835874afcc4f5c","name":"Prep Encrypt","func":"var time = msg.payload;\nvar client_id  = flow.get(\"tuya_client_id\");\nvar creds = flow.get(\"tuya\");\nvar access_token = creds.access_token;\n\nvar data = client_id +access_token+time;\nmsg.payload = data;\nmsg.time = time;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":660,"wires":[["a9e71a7c6f28c1f5"]]},{"id":"ba244f5bcf25ebc8","type":"comment","z":"85106e90.ba7d","g":"28835874afcc4f5c","name":"Get Device datapoints","info":"","x":240,"y":620,"wires":[]},{"id":"228ed223f65f2841","type":"http request","z":"85106e90.ba7d","g":"28835874afcc4f5c","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1050,"y":660,"wires":[["ddfa562e0e995ddc"]]},{"id":"0cc2caef011e3c43","type":"function","z":"85106e90.ba7d","g":"459556be589981da","name":"","func":"var data =  flow.get(\"tuya\");\nvar client_id = flow.get(\"tuya_client_id\");\nvar uid = flow.get(\"tuya_user_id\");\nvar url = \"https://openapi.tuyaeu.com\";\nvar sign = msg.payload;\nvar t = msg.time;\nvar refresh_token = data.refresh_token;\nvar access_token = data.access_token;\n\nvar deviceID = msg.deviceID;\nvar command = msg.command;\n\n// Call the APIs according to your region. \n// China https://openapi.tuyacn.com \n// America https://openapi.tuyaus.com \n// Europe https://openapi.tuyaeu.com \n// India https://openapi.tuyain.com \n\nmsg.headers = {\n    \"client_id\": client_id,\n    \"access_token\": access_token,\n    \"sign\": sign.toUpperCase(),\n    \"t\": t.toString(),\n    \"sign_method\": \"HMAC-SHA256\",\n    \"Content-Type\": \"application/json\"\n  },\n\nmsg.method = \"POST\";\nmsg.url = url + \"/v1.0/devices/\"+ deviceID +\"/commands\";\nmsg.payload = command;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":860,"wires":[["cdd6e742d032c2f8"]]},{"id":"6c6dfbe5eb550c10","type":"hmac","z":"85106e90.ba7d","g":"459556be589981da","name":"Tuya Client","algorithm":"HmacSHA256","key":"f42bf149d4974d9991d1bcbde07bde5f","x":590,"y":860,"wires":[["771518a9f229723f"]]},{"id":"23c744a821378fc6","type":"inject","z":"85106e90.ba7d","g":"459556be589981da","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":860,"wires":[["88000d67c5951c86"]]},{"id":"88000d67c5951c86","type":"function","z":"85106e90.ba7d","g":"459556be589981da","name":"Prep Encrypt","func":"var time = msg.payload;\nvar client_id  = flow.get(\"tuya_client_id\");\nvar creds = flow.get(\"tuya\");\nvar access_token = creds.access_token;\n\nvar data = client_id +access_token+time;\nmsg.payload = data;\nmsg.time = time;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":860,"wires":[["6c6dfbe5eb550c10"]]},{"id":"d9f6ab1b2aed5fe9","type":"comment","z":"85106e90.ba7d","g":"459556be589981da","name":"Control FingerBot","info":"","x":220,"y":820,"wires":[]},{"id":"cdd6e742d032c2f8","type":"http request","z":"85106e90.ba7d","g":"459556be589981da","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":860,"wires":[["a4dfe66ed60f2dbe"]]},{"id":"93701c9cc231d05f","type":"change","z":"85106e90.ba7d","g":"28835874afcc4f5c","name":"Set deviceID","rules":[{"t":"set","p":"deviceID","pt":"msg","to":"bf00b2cb59e88f9b91bnfj","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":540,"wires":[["a4263741c54e736c"]]},{"id":"defb7b5ad4440eb4","type":"debug","z":"85106e90.ba7d","g":"28835874afcc4f5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1230,"y":540,"wires":[]},{"id":"d260be5f4bc99ab1","type":"change","z":"85106e90.ba7d","g":"28835874afcc4f5c","name":"Set deviceID","rules":[{"t":"set","p":"deviceID","pt":"msg","to":"bf00b2cb59e88f9b91bnfj","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":660,"wires":[["2fb16fe88753460a"]]},{"id":"ddfa562e0e995ddc","type":"debug","z":"85106e90.ba7d","g":"28835874afcc4f5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1230,"y":660,"wires":[]},{"id":"771518a9f229723f","type":"change","z":"85106e90.ba7d","g":"459556be589981da","name":"FingerBot ON","rules":[{"t":"set","p":"command","pt":"msg","to":"{\"commands\":[{\"code\":\"switch\",\"value\":true}]}","tot":"json"},{"t":"set","p":"deviceID","pt":"msg","to":"bfb58eumjwonmbic","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":860,"wires":[["0cc2caef011e3c43"]]},{"id":"a4dfe66ed60f2dbe","type":"debug","z":"85106e90.ba7d","g":"459556be589981da","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":860,"wires":[]},{"id":"3f513a9ecfd2c25d","type":"function","z":"85106e90.ba7d","g":"459556be589981da","name":"","func":"var data =  flow.get(\"tuya\");\nvar client_id = flow.get(\"tuya_client_id\");\nvar uid = flow.get(\"tuya_user_id\");\nvar url = \"https://openapi.tuyaeu.com\";\nvar sign = msg.payload;\nvar t = msg.time;\nvar refresh_token = data.refresh_token;\nvar access_token = data.access_token;\n\nvar deviceID = msg.deviceID;\nvar command = msg.command;\n\n// Call the APIs according to your region. \n// China https://openapi.tuyacn.com \n// America https://openapi.tuyaus.com \n// Europe https://openapi.tuyaeu.com \n// India https://openapi.tuyain.com \n\nmsg.headers = {\n    \"client_id\": client_id,\n    \"access_token\": access_token,\n    \"sign\": sign.toUpperCase(),\n    \"t\": t.toString(),\n    \"sign_method\": \"HMAC-SHA256\",\n    \"Content-Type\": \"application/json\"\n  },\n\nmsg.method = \"POST\";\nmsg.url = url + \"/v1.0/devices/\"+ deviceID +\"/commands\";\nmsg.payload = command;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":920,"wires":[["d34fbb39f5fc29be"]]},{"id":"e18334a880dcd181","type":"hmac","z":"85106e90.ba7d","g":"459556be589981da","name":"Tuya Client","algorithm":"HmacSHA256","key":"f42bf149d4974d9991d1bcbde07bde5f","x":590,"y":920,"wires":[["6520a8207254d398"]]},{"id":"cde63a443b1ad060","type":"inject","z":"85106e90.ba7d","g":"459556be589981da","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":920,"wires":[["7acd3bec142d4293"]]},{"id":"7acd3bec142d4293","type":"function","z":"85106e90.ba7d","g":"459556be589981da","name":"Prep Encrypt","func":"var time = msg.payload;\nvar client_id  = flow.get(\"tuya_client_id\");\nvar creds = flow.get(\"tuya\");\nvar access_token = creds.access_token;\n\nvar data = client_id +access_token+time;\nmsg.payload = data;\nmsg.time = time;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":920,"wires":[["e18334a880dcd181"]]},{"id":"d34fbb39f5fc29be","type":"http request","z":"85106e90.ba7d","g":"459556be589981da","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":920,"wires":[["5c841ddf5c53815d"]]},{"id":"6520a8207254d398","type":"change","z":"85106e90.ba7d","g":"459556be589981da","name":"FingerBot OFF","rules":[{"t":"set","p":"command","pt":"msg","to":"{\"commands\":[{\"code\":\"switch\",\"value\":false}]}","tot":"json"},{"t":"set","p":"deviceID","pt":"msg","to":"bfb58eumjwonmbic","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":920,"wires":[["3f513a9ecfd2c25d"]]},{"id":"5c841ddf5c53815d","type":"debug","z":"85106e90.ba7d","g":"459556be589981da","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":920,"wires":[]}]